@model reviewStudyASP.Models.Persona

<div class="container">
    @Html.LabelFor(model => model.Nombre):
    @Html.DisplayFor(model => model.Nombre)
</div>
<div class="container">
    @Html.LabelFor(model => model.Empleado):
    @Html.DisplayFor(model => model.Empleado)
</div>  
<div class="container">
    @Html.LabelFor(model => model.FechaNacimiento):
    @Html.DisplayFor(model => model.FechaNacimiento)
</div>
